.findCountryGameControl {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: block;
  min-width: 15rem;
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 30vh;
}

.findCountryList {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.listCoverBottom {
  display: block;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: 50;
  background: linear-gradient(to top, rgba(72, 191, 227, 0.8), transparent);
}

ul {
  padding: 0;
  transform: translateY(-8rem);
}

@media (min-width: 60rem) {
  .findCountryGameControl {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-height: 100%;
  }
}
