.quizButton {
  display: block;
  width: 100%;
  min-height: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #80ffdb;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quizButton:hover,
.quizButton:active {
  background-color: #80ffdb;
}

.correct {
  background-color: green !important;
}

.wrong {
  background-color: red !important;
}
.noHover {
  pointer-events: none;
}

@media (min-width: 60rem) {
  .quizButton {
    min-height: 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .quizButton:hover {
    background-color: #00cc92;
  }
}

@media (max-height: 45rem) {
  .quizButton {
    font-size: 1.5rem;
  }
}
