.card {
  padding: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: white;
  position: relative;
  margin: auto;
  background-color: #48bfe3;
}
