.gameContainer {
  display: grid;
  grid-template-columns: calc(30% - 3rem) auto;
  grid-template-rows: calc(30% - 3rem) calc(70%);
  grid-gap: 3rem;
  padding: 3rem;
  height: 100%;
  width: 100%;
}
