.main-page {
  background-image: url("../assets/lucas-george-wendt-IYm2PCy0f8c-unsplash.jpg");
  position: relative;
  display: flex;
  background-size: cover;
  flex-flow: column;
  height: 100%;
}
