.main-page {
  background-image: url("../assets/lucas-george-wendt-IYm2PCy0f8c-unsplash.jpg");
  position: relative;
  display: flex;
  background-size: cover;
  height: 100%;
}

.main-page--form {
  height: 400px;
  width: 66%;
  max-width: 500px;
  min-width: 384px;
  position: relative;
  display: grid;
  grid-template-rows: 15% 15% 15% 15% 30%;
  align-items: bottom;
}

.main-page--form input,
.main-page--form select,
.main-page--form label {
  font: inherit;
  height: 3rem;
  font-size: 1.5rem;
}

.main-page--form input,
.main-page--form select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.main-page--form input.invalid {
  border: 2px solid #b40e0e;
  background-color: #fab7b7;
}

.main-page--form input[type="button"] {
  font-weight: bold;
  align-self: end;
  border-radius: 0.5rem;
  background-color: #80ffdb;
  width: 15rem;
  margin: 0 auto;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-page--form input[type="button"]:hover:not([disabled]) {
  background-color: #00cc92;
}

.main-page--form input[type="button"]:active:not([disabled]) {
  background-color: #80ffdb;
}

.main-page--form label {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  height: 2rem;
  align-self: end;
}
